<script setup lang="ts">
import { computed, onMounted, Ref } from 'vue';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import { Table, columns } from 'features/table';
import { peopleModel } from 'entities/people';
import { IPeople } from 'shared/api';

const store = useStore();
const router = useRoute();

const { id } = router.params;
const getPeopleById = () => {
  store.commit(peopleModel.mutations.filterPeople, id);
};
const getDetailsLoading = computed(() => store.getters[peopleModel.getters.getDetailsLoading]);
const toggleFavorite = (idx: string, isFavorite = false) => {
  store.commit(peopleModel.mutations.toggleFavorite, { id: idx, isFavorite });
};

const currentPerson = computed((): Ref<IPeople>[] => [store.getters[peopleModel.getters.getFilterPeople]]);

onMounted(async () => {
  if (getDetailsLoading.value) {
    await store.dispatch(peopleModel.actions.getPeopleList);
    const localFavorite = JSON.parse(localStorage.getItem('favorites') || '[]');
    localFavorite.forEach((item: string) => toggleFavorite(item, true));
  }
  getPeopleById();
});

</script>

<template>
  <a-layout-content>
    <Table
      :columns="columns"
      :dataSource="currentPerson[0] === undefined ? [] : currentPerson"
      :loading="getDetailsLoading"
    />
  </a-layout-content>
</template>
