<script setup lang="ts">

import { onMounted, computed } from 'vue';
import { useStore } from 'vuex';

import { Table, miniColumns } from 'features/table';
import { peopleModel } from 'entities/people';
import { AutoComplete } from 'entities/search';

const store = useStore();

const getDetailsLoading = computed(() => store.getters[peopleModel.getters.getDetailsLoading]);
const getPeopleList = computed(() => store.getters[peopleModel.getters.getPeopleList]);

const toggleFavorite = (id: string, isFavorite = false) => {
  store.commit(peopleModel.mutations.toggleFavorite, { id, isFavorite });
};

onMounted(async () => {
  if (getDetailsLoading.value) {
    await store.dispatch(peopleModel.actions.getPeopleList);
    const favorites = JSON.parse(localStorage.getItem('favorites') || '[]');
    favorites.forEach((item: string) => toggleFavorite(item, true));
  }
});

</script>

<template>
  <AutoComplete />
  <a-LayoutContent>
    <Table
      :loading="getDetailsLoading"
      :columns="miniColumns"
      :dataSource="getPeopleList"
    />
  </a-LayoutContent>
</template>
