<template>
  <a-Layout :class="$style['container']">
    <a-TypographyTitle>
      Home Page
    </a-TypographyTitle>

    <router-link :to="'/peoples'">
      People
    </router-link>

    <router-link :to="'/favorites'">
      Favorites
    </router-link>
  </a-Layout>
</template>

<style module>
.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
