<script lang="ts" setup>
import { computed, ref } from 'vue';
import { useRoute } from 'vue-router';

const router = useRoute();
const current = computed(() => [router.path]);

const menuList = ref([{ title: 'Home', link: '/', exact: true }, { title: 'People', link: '/peoples' }, { title: 'Favorite', link: '/favorites' }]);

</script>

<template>
  <a-menu
    v-model:selectedKeys="current"
    mode="horizontal"
    :class="$style.menu"
  >
    <a-menu-item v-for="menu in menuList" :key="menu.link">
      <router-link :to="menu.link">
        {{ menu.title }}
      </router-link>
    </a-menu-item>
  </a-menu>
</template>
<style module>
.menu {
  display: flex;
  justify-content: flex-end;
  background: #f0f2f5 !important;
}
</style>
