<script setup lang="ts">
import { RouterView } from 'vue-router';

</script>

<template>
  <a-Layout :class="$style['container']">
    <RouterView />
  </a-layout>
</template>

<style module>
.container {
  min-height: 100%  !important;
  padding: 50px ;
}

</style>
