<script setup lang="ts">
import { Routing } from 'pages/index.ts';
import { NavBar } from 'shared/ui';
</script>

<template>
  <div class="app">
    <NavBar />
    <Routing />
  </div>
</template>

<style lang="scss">
@import "./styles/index.scss";
</style>
