<script setup lang="ts">
import { useStore } from 'vuex';
import { peopleModel } from 'entities/people';
import { IPeople } from 'shared/api';

const store = useStore();

interface Props {
  columns: Array<string>;
  dataSource: Array<IPeople>
  loading: boolean;
}

withDefaults(defineProps<Props>(), {
  loading: true,
});

const toggleFavorite = (id: string, isFavorite = false) => {
  store.commit(peopleModel.mutations.toggleFavorite, { id, isFavorite });
};

</script>

<template>
  <a-Table
    :columns="columns"
    :dataSource="dataSource"
    :loading="loading"
    bordered
    :scroll="{ x: true }"
  >
    <template #bodyCell="{ record, column }">
      <template v-if="column.key === 'action'">
        <div :class="$style['table-buttons']">
          <a-button
            type="primary" :class="{ 'ant-btn-dangerous': record?.isFavorite }"
            @click="toggleFavorite(record.url)"
          >
            {{ record?.isFavorite ? 'Удалить из избранного' : 'Добавить в избранное' }}
          </a-button>
        </div>
      </template>
    </template>
  </a-Table>
</template>

<style module>
.table-buttons {
  max-width: 200px;
  display: flex;
  justify-content: center;
}
</style>
