<script setup lang="ts">

import { ref, computed, Ref } from 'vue';
import { useStore } from 'vuex';
import { searchModel } from 'entities/search';
import { IPeople } from 'shared/api';

const store = useStore();

const value = ref('');
const options: Ref<IPeople[]> = computed(() => store.getters[searchModel.getters.getSearchResult]);

const getSearchPeople = (searchText: string) => {
  store.dispatch(searchModel.actions.getSearchPeople, searchText);
};

// FIX ME
// Можно было сделать какой-нибудь дебанус чтоб запросы не шли на каждый символ

// FIX ME
// Есть проблема, в поиске мы можем найти персонажа, данных о котором у нас нет т.к он с другого
// page если мы его прокинем пропсами и откроем старницу то возникнит следующая
// добавя его в избранное мы сохраним id, и при заходи
// на favorit после перезагрузки его там не будет
// Писать костыли не хочу опишу как можно решить
// Решние 1: хранить полный json в favorit

// Решение 2 на беки не выдавать полный json при поиске а только title и id
// При переходи на [id] делать запрос полных данных
// при выводе favorit чекать есть ли у нас такой персонаж
// если нет то делать запрос и добавлять в массив

// Еслиб писал костыль то id закидывал в поиск и пушил результат в персонажей
const onSearch = (searchText: string) => {
  getSearchPeople(searchText);
};

</script>
<template>
  <div :class="$style.search">
    <a-auto-complete
      v-model:value="value"
      class="global-search"
      size="large"
      style="width: 200px"
      placeholder="Поиск"
      :options="options"

      @search="onSearch"
    >
      <template #option="option">
        <router-link :to="{ path: `peoples/${option.name}` } ">
          {{ option.name }}
        </router-link>
      </template>
    </a-auto-complete>
  </div>
</template>

<style module>
.search {
  margin: 20px 0;
}
</style>
