<script setup lang="ts">

import { onMounted, computed } from 'vue';
import { useStore } from 'vuex';
import { Table, miniColumns } from 'features/table';
import { peopleModel } from 'entities/people';
import { IPeople } from 'shared/api';

const store = useStore();

const getDetailsLoading = computed(() => store.getters[peopleModel.getters.getDetailsLoading]);
const getPeopleList = computed(() => store.getters[peopleModel.getters.getPeopleList]);
const favorites = computed(() => getPeopleList.value?.filter((item: IPeople) => item?.isFavorite === true));

// FIX ME
// бьыло желание вынести эту функцию, может позже сделаю
const toggleFavorite = (id: string, isFavorite = false) => {
  store.commit(peopleModel.mutations.toggleFavorite, { id, isFavorite });
};

onMounted(async () => {
  if (getDetailsLoading.value) {
    await store.dispatch(peopleModel.actions.getPeopleList);
    const localFavorite = JSON.parse(localStorage.getItem('favorites') || '[]');
    localFavorite.forEach((item: string) => toggleFavorite(item, true));
  }
});

</script>

<template>
  <a-LayoutContent>
    <Table :columns="miniColumns" :data-source="favorites" :loading="getDetailsLoading" />
  </a-LayoutContent>
</template>
